transformers>=4.30.0
datasets>=2.10.0
tokenizers>=0.13.2
sentencepiece
numpy
tqdm
boto3
psutil
accelerate
wandb
hjson
einops
msgpack
ninja
packaging>=20.0
py-cpuinfo
pydantic>=2.0.0
torch
mpi4py
pybind11